<p>First Name: <%= @student.first_name %></p>
<p>Last Name: <%= @student.last_name %></p>
<% house = House.find_by_id(@student.house_id) %>
<p>House: <%= house.name %></p>
<img src="<%=house.logo%>"/ > 
<p>Age: <%= @student.age %></p>

<form method="POST" action="/students/<%= @student.id %>/delete">
  <input type="submit" value="Delete Student"/>  
</form>